Repository JuliaPlots/Plots.jl, pull requests merged in 2020-10, with the labels that each got.

#3020 latexify unicode
  Project.toml
  src/backends/pgfplotsx.jl
Labels: PGFPlotsX

#3047 Fix 3d plotting with pyplot
  Project.toml
  src/backends/pyplot.jl
Labels: PyPlot

#3076 add mesh3d support
  src/backends.jl
  src/backends/pgfplotsx.jl
  src/examples.jl
Labels: PGFPlotsX

#3096 add more fonts for gr backend
  src/backends/gr.jl
Labels: GR

#3113 Switch to plotly-latest
  src/backends/plotly.jl
  src/init.jl
Labels: Plotly
