Repository JuliaPlots/Plots.jl, pull requests merged in 2020-04, with the labels that each got.

#2486 Layouting
  src/backends/pgfplotsx.jl
  src/examples.jl
Labels: PGFPlotsX

#2548 Implement zerror and surface type recipe fixes
  Project.toml
  src/args.jl
  src/backends.jl
  src/examples.jl
  src/pipeline.jl
  src/recipes.jl
  src/series.jl
Labels: backport

#2550 all the legend positions
  src/backends/pgfplotsx.jl
Labels: PGFPlotsX

#2553 minorgrid, minorticks and framestyle zerolines fix for pgfplotsx
  src/backends/pgfplotsx.jl
Labels: PGFPlotsX

#2581 add legendtitle for pgfplotsx
  Project.toml
  src/backends/pgfplotsx.jl
Labels: PGFPlotsX

#2586 fix point meta for colorbars
  src/backends/pgfplotsx.jl
Labels: PGFPlotsX

#2589 adjust markersize
  Project.toml
  src/backends/pgfplotsx.jl
  test/test_pgfplotsx.jl
Labels: PGFPlotsX

#2650 pyplot legend marker fixes
  src/backends/pyplot.jl
Labels: PyPlot
