Repository JuliaPlots/Plots.jl, pull requests merged in 2021-09, with the labels that each got.

#3787 UnicodePlots: support layout
  src/backends/unicodeplots.jl
  src/examples.jl
Labels: enhancement, UnicodePlots

#3803 Fix invalid axes aliases
  src/args.jl
  test/test_axes.jl
Labels: bug

#3804 UnicodePlots: support :annotations
  src/backends.jl
  src/backends/unicodeplots.jl
Labels: extension

#3811 UnicodePlots: Propagate xyscale
  Project.toml
  src/backends/unicodeplots.jl
  src/examples.jl
Labels: UnicodePlots

#3812 UnicodePlots: minor fixes
  src/backends/unicodeplots.jl
Labels: UnicodePlots

#3825 UnicodePlots: adjust layout width per column
  src/backends.jl
  src/backends/unicodeplots.jl
  test/runtests.jl
Labels: enhancement, UnicodePlots

#3824 Fix aliases
  src/args.jl
  test/test_axes.jl
Labels: bug

#3835 Add `:mesh3d` seriesstyle for PyPlot backend
  src/backends.jl
  src/backends/pgfplotsx.jl
  src/backends/plotly.jl
  src/backends/pyplot.jl
  src/examples.jl
  src/utils.jl
Labels: extension

#3845 UnicodePlots: support markers
  src/backends.jl
  src/backends/unicodeplots.jl
  src/examples.jl
Labels: UnicodePlots, extension

#3839 Speed up `get_clims`
  src/colorbars.jl
  src/pipeline.jl
Labels: performance
