Repository JuliaPlots/Plots.jl, pull requests merged in 2021-12, with the labels that each got.

#3958 Upgrade plotly.js to v2.6.3
  src/Plots.jl
  src/backends/plotly.jl
Labels: PlotlyJS

#4006 Fix fillranges with OffsetVectors for plotly
  src/backends/plotly.jl
  src/examples.jl
  src/utils.jl
Labels: Plotly

#4021 UnicodePlots: enhance display / show
  src/backends.jl
  src/backends/unicodeplots.jl
  src/init.jl
  src/output.jl
Labels: UnicodePlots, IJulia, Pluto
