Repository JuliaPlots/Plots.jl, pull requests merged in 2021-11, with the labels that each got.

#3879 Fix LaTeXStrings support for `UnicodePlots` and `InspectDR`
  Project.toml
  src/Plots.jl
  src/backends/inspectdr.jl
  src/backends/unicodeplots.jl
  src/utils.jl
  test/runtests.jl
Labels: bug, UnicodePlots, InspectDR

#3961 PGFPlotsX: fix log scale power with custom ticks
  src/backends/pgfplotsx.jl
Labels: bug, PGFPlotsX

#3957 Fix annotations getting drawn under markers in pgfplotsx backend
  src/backends/pgfplotsx.jl
Labels: PGFPlotsX
