Repository JuliaPlots/Plots.jl, pull requests merged in 2022-06, with the labels that each got.

#4231 forward aspect ratio for 3D plots in pgfplotsx
  src/backends/pgfplotsx.jl
Labels: PGFPlotsX

#4250 update `UnicodePlots` to `3.0.0` - coverage
  Project.toml
  src/Plots.jl
  src/animation.jl
  src/args.jl
  src/axes.jl
  src/backends/pgfplotsx.jl
  src/backends/unicodeplots.jl
  src/colorbars.jl
  src/components.jl
  src/examples.jl
  src/fileio.jl
  src/init.jl
  src/output.jl
  src/pipeline.jl
  src/plotattr.jl
  src/plotmeasures.jl
  src/recipes.jl
  src/themes.jl
  src/types.jl
  src/utils.jl
  test/imgcomp.jl
  test/install_wkhtmltoimage.sh
  test/runtests.jl
  test/test_args.jl
  test/test_axes.jl
  test/test_axis_letter.jl
  test/test_backends.jl
  test/test_components.jl
  test/test_contours.jl
  test/test_dates.jl
  test/test_defaults.jl
  test/test_hdf5plots.jl
  test/test_layouts.jl
  test/test_misc.jl
  test/test_output.jl
  test/test_pgfplotsx.jl
  test/test_pipeline.jl
  test/test_plotly.jl
  test/test_recipes.jl
  test/test_shorthands.jl
  test/test_utils.jl
Labels: UnicodePlots, CI

#4251 Fix `mesh3d_triangles!`
  src/utils.jl
  test/runtests.jl
  test/test_animations.jl
  test/test_axes.jl
  test/test_axis_letter.jl
  test/test_backends.jl
  test/test_contours.jl
  test/test_dates.jl
  test/test_hdf5plots.jl
  test/test_layouts.jl
  test/test_misc.jl
  test/test_output.jl
  test/test_pgfplotsx.jl
  test/test_pipeline.jl
  test/test_plotly.jl
  test/test_shorthands.jl
  test/test_utils.jl
Labels: bug
