Repository JuliaPlots/Plots.jl, pull requests merged in 2022-01, with the labels that each got.

#4027 Check if plot title already exists before adding again
  src/pipeline.jl
  test/test_layouts.jl
Labels: bug

#4031 UnicodePlots: basic `quiver` and `contour` support
  Project.toml
  src/backends.jl
  src/backends/unicodeplots.jl
  src/examples.jl
Labels: UnicodePlots, extension

#4057 Minor doc typeset for `default`
  src/args.jl
Labels: Documentation

#4053 Add format check
  .github/workflows/format.yml.disabled
  .github/workflows/format_check.yml
  .github/workflows/format_pr.yml
  src/backends/unicodeplots.jl
Labels: CI

#4058 UnicodePlots: do not show blank plots (layouts)
  src/backends/unicodeplots.jl
Labels: UnicodePlots

#4081 Rework warn_on_unsupported
  src/args.jl
  src/backends/unicodeplots.jl
Labels: UnicodePlots
