Repository JuliaPlots/Plots.jl, pull requests merged in 2022-03, with the labels that each got.

#4117 Revert constant legend box
  src/backends/gr.jl
Labels: bug, GR

#4149 UnicodePlots: `png` output
  Project.toml
  src/backends/unicodeplots.jl
Labels: enhancement, UnicodePlots, Documentation

#4155 Improve coverage
  .github/workflows/ci.yml
  Project.toml
  src/backends/deprecated/pgfplots.jl
  src/backends/unicodeplots.jl
  src/components.jl
  src/examples.jl
  src/legend.jl
  src/shorthands.jl
  src/utils.jl
  test/runtests.jl
  test/test_animations.jl
  test/test_components.jl
  test/test_layouts.jl
  test/test_shorthands.jl
Labels: CI

#4161 fix legends for arrows
  src/backends/pgfplotsx.jl
  test/runtests.jl
  test/test_pgfplotsx.jl
Labels: PGFPlotsX
