Repository JuliaPlots/Plots.jl, pull requests merged in 2023-03, with the labels that each got.

#4681 Support for disabling axis ticks in UnicodePlots
  src/axes.jl
  src/backends/unicodeplots.jl
Labels: UnicodePlots

#4685 PythonPlot: fix `fillalpha`
  src/backends/pythonplot.jl
Labels: bug, PythonPlot

#4680 Wrapping of power in PGFPlotsX labels
  src/backends/pgfplotsx.jl
  test/test_axes.jl
Labels: bug, PGFPlotsX

#4684 Do not include plotly.jl twice
  src/backends.jl
  src/backends/plotly.jl
Labels: Plotly

#4686 Fix PGFPlotsX axis mirror in box framestyle
  src/backends/pgfplotsx.jl
Labels: bug, PGFPlotsX

#4687 fix contour3d for pgfplotsx
  src/utils.jl
  test/test_pgfplotsx.jl
Labels: PGFPlotsX
