Repository JuliaPlots/Plots.jl, pull requests merged in 2023-02, with the labels that each got.

#4647 Fix code loading for pgfplotsx
  src/backends.jl
Labels: PGFPlotsX

#4648 UnicodePlots: compat PR for png output
  Project.toml
  src/backends/unicodeplots.jl
  src/init.jl
  test/runtests.jl
Labels: UnicodePlots

#4655 fix `pythonplot` minor ticks
  src/backends/pythonplot.jl
Labels: bug, PythonPlot

#4665 `PythonPlot`: fix cmap
  src/backends/pythonplot.jl
Labels: bug, PythonPlot

#4666 `PythonPlot`: fix cmap
  src/backends/pythonplot.jl
Labels: PythonPlot

#4649 package extensions - weak deps
  .github/workflows/ci.yml
  .github/workflows/format_check.yml
  Project.toml
  ext/FileIOExt.jl
  ext/GeometryBasicsExt.jl
  ext/IJuliaExt.jl
  ext/ImageInTerminalExt.jl
  ext/UnitfulExt.jl
  src/Plots.jl
  src/components.jl
  src/init.jl
  src/output.jl
  src/utils.jl
  test/runtests.jl
  test/test_backends.jl
  test/test_misc.jl
  test/test_preferences.jl
  test/test_quality.jl
  test/test_unitful.jl
  test/test_utils.jl
Labels: extension

#4671 gr: add support for user fonts
  src/backends/gr.jl
Labels: enhancement, GR
