Repository JuliaPlots/Plots.jl, pull requests merged in 2023-04, with the labels that each got.

#4707 Fix logarithmic units
  ext/UnitfulExt.jl
  test/test_unitful.jl
Labels: bug, UnitfulExt

#4723 fix `UnitfulString` for `PGFPlotsX`
  ext/UnitfulExt.jl
  src/backends/pgfplotsx.jl
  src/utils.jl
  test/test_unitful.jl
Labels: bug, extension, UnitfulExt

#4734 `SnoopPrecompile` -> `PrecompileTools`
  RecipesBase/Project.toml
  RecipesBase/src/RecipesBase.jl
  RecipesPipeline/Project.toml
  RecipesPipeline/src/RecipesPipeline.jl
Labels: load / precompilation
