Repository JuliaPlots/Plots.jl, pull requests merged in 2025-06, with the labels that each got.

#5103 Add specialised type handling for vector of vectors
  RecipesPipeline/src/type_recipe.jl
  RecipesPipeline/test/Project.toml
  RecipesPipeline/test/runtests.jl
Labels: bug, extension

#5109 Load RequireJS explictly for Plotly when running in IJulia
  .zenodo.json
  PlotsBase/src/init.jl
  PlotsBase/src/plotly.jl
Labels: Plotly

#5110 Load RequireJS explictly for Plotly when running in IJulia
  .zenodo.json
  src/backends/plotly.jl
  src/init.jl
Labels: Plotly, backport

#5112 fix world age problem on `pre` - `1.12`
  src/examples.jl
Labels: bug, CI

#5111 fix world age problem on `pre` - `1.12`
  PlotsBase/src/examples.jl
Labels: bug, CI

#5095 Add `unit` axis attribute (for v2)
  NEWS.md
  PlotsBase/ext/GRExt.jl
  PlotsBase/ext/GastonExt.jl
  PlotsBase/ext/PGFPlotsXExt.jl
  PlotsBase/ext/PythonPlotExt.jl
  PlotsBase/ext/UnicodePlotsExt.jl
  PlotsBase/ext/UnitfulExt.jl
  PlotsBase/src/Axes.jl
  PlotsBase/src/Commons/attrs.jl
  PlotsBase/src/PlotsBase.jl
  PlotsBase/src/backends.jl
  PlotsBase/src/layouts.jl
  PlotsBase/src/plotly.jl
  PlotsBase/src/utils.jl
  PlotsBase/test/test_axes.jl
  PlotsBase/test/test_shorthands.jl
  PlotsBase/test/test_unitful.jl
  StatsPlots/test/runtests.jl
  docs/src/UnitfulExt/unitfulext_examples.jl
  docs/src/UnitfulExt/unitfulext_plots.jl
Labels: enhancement, UnitfulExt
